<div class="maincontent-area">
  <div class="container">
    <div class="search-hero">
      <input class="form-control" style="font-size: 20px" type="text" name="search" [(ngModel)]="searchText"
        autocomplete="off" placeholder="Search">
    </div>
    <br>
    <h1 style="text-align: center;font-size: 50px"> Product </h1>
    <br>
    <h5 [class.active]="order === 'info.name'" (click)="setOrder('name')" class="mdl-data-table__cell--non-numeric">
      Name <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
    </h5>
    <br>
    <div class="row" style="text-align: center">
      <div class="col-md-4" *ngFor="let product of products| async| filter:searchText|orderBy: order:reverse:'case-insensitive'">
        <div class="single-product" style="padding-top: 20px">
          <img [src]="product.image" alt="" width="200px" height="300px">
          <br> <br> <br> <br>
          <h2><a class="name" href="user/detail/{{product.id}}">{{product.name}}</a></h2>
          <h5>Price : {{product.price}} $</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>